/sandbox/PySideSandbox/structure_sandbox/views/** linguist-generated=true
/sandbox/PySideSandbox/structure_sandbox/resources_rc.py linguist-generated=true
/sandbox/PySideSandbox/OLD/ui_widget_experiment/ui_stacked_widget_test.py linguist-generated=true
/sandbox/PySideSandbox/OLD/ui_widget_experiment/ui_widget_ui.py linguist-generated=true
/sandbox/PySideSandbox/OLD/custom_widget_test/ui_sandbox.py linguist-generated=true
/sandbox/PySideSandbox/OLD/app_mockup/ui_about_page_widget.py linguist-generated=true
/sandbox/PySideSandbox/OLD/app_mockup/ui_app_main_widget.py linguist-generated=true
/sandbox/PySideSandbox/OLD/app_mockup/ui_app_main_window.py linguist-generated=true
/sandbox/PySideSandbox/OLD/app_mockup/ui_login_page_widget.py linguist-generated=true
/sandbox/PySideSandbox/OLD/app_mockup/ui_test_page_widget.py linguist-generated=true
/sandbox/PySideSandbox/OLD/app_mockup/ui_two_factor_page_widget.py linguist-generated=true
/sandbox/PySideSandbox/OLD/app_mockup/resources_rc.py linguist-generated=true
/gui/views/** linguist-generated=true
/gui/resources_rc.py linguist-generated=true